Repository zhenlohuang/ethereum-trading-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-fmt, cargo-fmt, cargo-clippy, cargo-check

taplo-fmt:
  name: taplo fmt
  entry: taplo fmt
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

docs: correct code block syntax in README for MCP Inspector command
  README.md
Due: none

docs: remove outdated design decisions section from README
  README.md
Due: none

feat: add Ethereum Trading MCP server configuration and integration documentation
  README.md
  docs/cherry_studio_intergration.md
  docs/images/cherry-studio/add-mcp-server.png
  docs/images/cherry-studio/create-eth-assistant.png
  docs/images/cherry-studio/enable-mcp-in-assistant.png
  docs/images/cherry-studio/import-mcp-json.png
  docs/images/cherry-studio/test-mcp-server.png
  docs/requirements_specification.md
  mcp.dev.json
Due: none

docs: add screenshots and integration details to README
  README.md
  docs/screenshots/get_balance.png
  docs/screenshots/get_token_price.png
  docs/screenshots/swap_token.png
Due: none

docs: move API reference to a separate file and update README for better organization
  README.md
  docs/api_reference.md
Due: none

docs: update token symbol documentation in GetTokenPriceInput and enhance description for get_token_price method
  src/mcp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: enhance swap simulation with success/error handling and detailed response structure
  docs/api_reference.md
  docs/system_design.md
  src/services/swap.rs
  src/types/swap.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: fix swap token tool
  Cargo.lock
  Cargo.toml
  README.md
  docs/api_reference.md
  docs/system_design.md
  src/ethereum/contracts/mod.rs
  src/mcp/server.rs
  src/services/mod.rs
  src/services/token_registry.rs
Due: taplo-fmt, cargo-fmt, cargo-clippy, cargo-check

chore: update swap token screenshot
  docs/screenshots/swap_token.png
Due: none

docs: add Cherry Studio integration guide for Ethereum Trading MCP Server
  docs/integration/cherry_studio.md
Due: none

docs: add repository guidelines and project structure documentation in AGENTS.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

refactor: simplify token address definitions and remove static symbol resolution function
  src/ethereum/contracts/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: fix screenshot of swap_tokens
  docs/screenshots/swap_tokens.png
Due: none

refactor: improve error handling and validation in Ethereum client and trading server
  src/ethereum/client.rs
  src/mcp/server.rs
  src/services/balance.rs
  src/services/price.rs
  src/services/swap.rs
  src/services/token_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: enhance price impact calculation in SwapService with improved logic and reference amount determination
  src/services/swap.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: add price oracle error handling and numeric overflow checks in price and swap services
  src/error/mod.rs
  src/services/price.rs
  src/services/swap.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: implement concurrent cache refresh protection in TokenRegistry and enhance unit formatting and parsing functions
  src/services/token_registry.rs
  src/types/token.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: update configuration documentation to reflect removal of ETHEREUM_CHAIN_ID and clarify support for only Ethereum mainnet
  AGENTS.md
  README.md
  docs/integration/cherry_studio.md
  docs/system_design.md
  mcp.dev.json
  src/config/mod.rs
  src/mcp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: introduce TokenRegistryTrait for improved token management and implement async methods for symbol resolution and address lookup
  Cargo.lock
  Cargo.toml
  src/mcp/server.rs
  src/services/mod.rs
  src/services/token_registry.rs
Due: taplo-fmt, cargo-fmt, cargo-clippy, cargo-check

chore: add Makefile for coverage reports, update .gitignore, and enhance README with coverage instructions
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  rust-toolchain.toml
Due: taplo-fmt

chore: update .gitignore to include .env file and modify README to reflect new environment variable file name
  .gitignore
  README.md
Due: none

refactor: and add integration tests for balance and price queries
  Makefile
  README.md
  src/config/mod.rs
  src/mcp/mod.rs
  src/services/price.rs
  src/services/swap.rs
  src/services/token_registry.rs
  tests/common/mod.rs
  tests/test_get_balance.rs
  tests/test_get_token_price.rs
  tests/test_server.rs
  tests/test_swap_tokens.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: introduce ethereum constants module and update configuration to support dynamic chain IDs
  src/config/mod.rs
  src/ethereum/constants.rs
  src/ethereum/contracts/chainlink.rs
  src/ethereum/contracts/mod.rs
  src/ethereum/contracts/uniswap_v2.rs
  src/ethereum/contracts/uniswap_v3.rs
  src/ethereum/mod.rs
  src/lib.rs
  src/mcp/server.rs
  src/services/balance.rs
  src/services/token_registry.rs
  tests/common/mod.rs
  tests/test_get_balance.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: add more unit test
  src/config/mod.rs
  src/error/mod.rs
  src/ethereum/wallet.rs
  src/services/swap.rs
  src/services/token_registry.rs
  src/types/swap.rs
  src/types/token.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: update CI workflow to use dtolnay/rust-toolchain action for Rust toolchain installation
  .github/workflows/ci.yml
Due: none

chore: restructure CI workflow to separate code checks and testing, enhancing clarity and organization
  .github/workflows/ci.yml
Due: none

docs: update README to include new Ethereum constants module and add integration tests for token swap functionality
  README.md
Due: none

Path conditions:
  taplo-fmt: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
